/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --pink: #FF0070;
  --pink-rgb: 255, 0, 112;
  --deep-purple: #000028;
  --soft-pink: #F1B2CE;
  --neon: #DB00FF;

  --bg-image: url("../images/cover-image-dark.png");
  --rec-visibility: visible;
  --decor-color: var(--pink);
  --rec-color: var(--pink);
  --bg-color: var(--deep-purple);
  --h1-color: var(--neon);
  --h2-color: var(--pink);
  --h3-color: var(--deep-purple);
  --h3-bg-color: var(--pink);
  --text-color: var(--soft-pink);
  --shadow-color: var(--pink);
  --header-bg-color: var(--pink);
  --header-text-color: var(--deep-purple);
  --menu-color: var(--pink-rgb);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --h1-color: #DB00FF;
    --h2-color: #FF0070;
    --h3-color: #000028;
    --h3-bg-color: #FF0070;
    --text-color: #F1B2CE;
    --shadow-color: #FF0070;
    --header-bg-color: #FF0070;
    --header-text-color: #000028;
    --bg-image: url("../images/cover-image-dark.png");
    --rec-visibility: visible;
    --rec-color: #FF0070;
    --decor-color: #FF0070;
    --menu-color: 255, 0, 112;
  }
}

