:root.theme-light {
  --pink: #FF8DCB;
  --gray: #353430;
  --gray-rgb: 53, 52, 48;
  --soft-pink: #F1B2CE;
  --more-soft-pink: #FFC2E6;
  --light-pink: #FFF1F7;

  --bg-image: url("../images/cover-image-light.png");
  --rec-visibility: hidden;
  --decor-color: var(--gray);
  --bg-color: var(--light-pink);
  --h1-color: var(--more-soft-pink);
  --h2-color: var(--gray);
  --h3-color: var(--gray);
  --h3-bg-color: var(--pink);
  --text-color: var(--gray);
  --shadow-color: var(--pink);
  --header-bg-color: var(--pink);
  --header-text-color: var(--gray);
  --menu-color: var(--gray-rgb);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --h1-color: #FFC2E6;
    --h2-color: #353430;
    --h3-color: #353430;
    --h3-bg-color: #FF8DCB;
    --text-color: #353430;
    --shadow-color: #FF8DCB;
    --header-bg-color: #FF8DCB;
    --header-text-color: #353430;
    --bg-image: url("../images/cover-image-light.png");
    --rec-visibility: hidden;
    --rec-color: #FF8DCB;
    --decor-color: #353430;
    --menu-color: 53, 52, 48;
  }
}