/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sections, 40px);
  background-color: var(--bg-color, #000028);
}

.decorated-zone {
  width: 100%;
  height: 100%;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  --dc-color: var(--decor-color, #FF0070);
}

.decorated-zone::before {
  top: var(--zone-padding, 10px);
  right: var(--zone-padding, 10px);
  border-top: 1px solid var(--dc-color);
  border-right: 1px solid var(--dc-color);
}

.decorated-zone::after {
  bottom: var(--zone-padding, 10px);
  left: var(--zone-padding, 10px);
  border-bottom: 1px solid var(--dc-color);
  border-left: 1px solid var(--dc-color);
}


.header {
  position: relative;
  width: 100%;
  height: var(--header-footer-height, 668px);
  background: var(--bg-image, url("../images/cover-image-dark.png"));
  background-size: cover;
  background-position: bottom;
  object-fit: cover;
  padding: var(--zone-padding, 10px);
}

.header__theme-menu {
  justify-items: end;

  --mn-color: var(--menu-color, 255, 0, 112);

  margin-bottom: var(--b-margin-header-menu, 65px);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(var(--mn-color));
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:hover:not(:disabled) {
  border: 1px solid rgba(var(--mn-color), 0.4); 
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid rgb(var(--mn-color));
}

.header__theme-menu-button_active {
  border: 1px solid rgb(var(--mn-color)); 
  cursor: default;
}

.header__rec {
  visibility: var(--rec-visibility, visible);
  width: 33px;
  height: 26px;
  justify-self: end;
  position: relative;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  --rc-color: var(--rec-color, #FF0070);
  color: var(--rc-color);
  text-transform: uppercase;
  margin-right: var(--r-margin-rec, 29px);

  margin-bottom: var(--b-margin-header-rec, 39px);
}

.header__rec::after {
  content: "";
  position: absolute;
  top: calc(50% - 4.5px);
  left: calc(100% + 11px);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--rc-color);
  box-shadow: 0px 0px 4px 2px var(--rc-color);
}

.header__title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  color: var(--h1-color, #DB00FF);
  text-shadow: 4px 4px var(--shadow-color, #FF0070);

  justify-self: start;

  margin-bottom: var(--b-margin-header-title, 55px);
}

.header__text {
  width: 355px;
  min-height: 117px;

  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;

  background-color: var(--header-bg-color, #FF0070);
  color: var(--header-text-color, #000028);

  align-content: center;
  justify-self: end;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-content, 50px);
  padding: var(--zone-padding, 10px);
}

.content__text-block {
  display: flex;
  flex-direction: column;
  gap: var(--gap-text-blocks, 20px);
}

.content__text-section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-text-sections, 10px);
}

.content__text-block-title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--h2-color, #FF0070);
}

.content__text-section-title {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--h3-color);
  background-color: var(--h3-bg-color, #FF0070);
}

.content__unbolded .content__text-section-title:nth-child(1) {
  font-weight: 400;
}

.content__text-section-text {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color, #F1B2CE);
}

.content__text-section-text span {
  text-shadow: 2px 2px var(--shadow-color, #FF0070);
}

.content__text-section-text a {
  position: relative;
  text-decoration: none;
}

.content__text-section-text a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.content__text-section-text a:focus-visible {
  outline: none;
  border: 1px solid var(--text-color, #F1B2CE);
}

.content__images-block {
  display: flex;
  flex-direction: column;
  gap: var(--gap-images, 10px);
}

.content__images {
  display: flex;
  flex-direction: column;
  gap: var(--gap-images, 10px);
}

.footer {
  width: 100%;
  height: var(--header-footer-height, 668px);
  position: relative;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;

  text-align: center;
  align-content: center;

  padding: var(--zone-padding, 10px);

  text-shadow: 2px 2px var(--shadow-color, #FF0070);

  color: var(--h1-color, #DB00FF);
}

@media (width >= 768px) {
  .header__title {
    transform: translateX(calc(-1 * var(--zone-padding, -20px)));
    justify-self: start;
    font-size: 120px;
  }

  .header__text {
    width: 364px;
  }

  .content__text-block {
    display: grid;
    grid-template-columns: 236px 1fr;
  }

  .content__text-section {
    grid-column: 2;
  }

  .content__text-block-title {
    grid-row: span 2; 
  }

  .content__flex-grid {
    display: flex; 
  }

  .content__flex-grid .content__text-block-title {
    inline-size: min-content;
  }

  .content__images {
    display: grid;
    gap: var(--gap-images); 
    grid-template-areas: "pic1 pic1 pic2"
                         "pic3 pic4 pic2"
                         "pic3 pic5 pic5";  
  }
  
  .content__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .content__image:nth-child(1) {
    grid-area: pic1;
  }
  
  .content__image:nth-child(2) {
    grid-area: pic2;
  }
  
  .content__image:nth-child(3) {
    grid-area: pic3;
  }
  
  .content__image:nth-child(4) {
    grid-area: pic4;
  }
  
  .content__image:nth-child(5) {
    grid-area: pic5;  
  }
}

@media (width >=1024px) {
  .header__title {
    font-size: 150px;
  }

  .header__text {
    width: 491px;
    min-height: 71px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    transform: translateY(-26px);
    justify-self: center;
  }

  .content__flex-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content__flex-grid .content__text-block-title {
    grid-column: 1 / -1;
  }

  .content__flex-grid .content__text-section {
    grid-column: initial;
  }
}