:root {
  --main-font: "IBM Plex Mono", sans-serif;

  --zone-padding: 10px;

  --header-footer-min-height: 668px;

  --title-font-size: 116px;

  --gap-sections: 32px;
  --gap-content: 50px;
  --gap-text-blocks: 20px;
  --gap-images: 10px;
  --gap-text-sections: 10px;

  --b-margin-header-menu: 65px;
  --r-margin-header-rec: 29px;
  --b-margin-header-rec: 39px;
  --b-margin-header-title: 55px;
}

@media (width >= 768px) {
  :root {
    --zone-padding: 20px;

    --header-footer-min-height: 1024px;

    --title-font-size: 120px;

    --template-width: 236px;

    --gap-sections: 45px;
    --gap-content: 80px;
    --gap-images: 20px;

    --b-margin-header-rec: 146px;
    --b-margin-header-title: 162px;
    --b-margin-header-menu: 173px;
  }
}

@media (width >= 1024px) {
  :root {
    --header-footer-min-height: 768px;

    --title-font-size: 150px;

    --template-width: 315px;

    --b-margin-header-rec: 0;
    --b-margin-header-title: 114px;
    --b-margin-header-menu: 250px;

  }
}
