:root {
  --main-font: "IBM Plex Mono", sans-serif;

  --zone-padding: 10px;

  --header-footer-min-height: 668px;

  --gap-sections: 32px;
  --gap-content: 50px;
  --gap-text-blocks: 20px;
  --gap-images: 10px;
  --gap-text-sections: 10px;

  --r-margin-header-rec: 29px;
}

@media (width >= 768px) {
  :root {
    --zone-padding: 20px;

    --header-footer-min-height: 1024px;

    --template-width: 236px;

    --gap-sections: 45px;
    --gap-content: 80px;
    --gap-images: 20px;
  }
}

@media (width >= 1024px) {
  :root {
    --header-footer-min-height: 768px;

    --template-width: 315px;
  }
}
